## Advantages of python

1. python easy to use
2. multiple libraries and framework
    - Numpy
    - Pandas
    - Matplotlib & seaborn
    - scikits learn
3. Go for ML & DL
4. used for web based learning like web scrapping backend
5. community and corporate support
e.g Amazon alexa, netflix recommendation system, recommendation system across all the social media
 
this make python a one of the growing language in industry

# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

# Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [3]:
print(True, False)

True False

In [4]:
type(True)

bool

In [5]:
my_str = "Mritunjay"

In [9]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('y')) #test if string endswith a y
print(my_str.startswith('M')) #test if string startswith H

True
True
False
True
False
False
False
True
True

# Boolean and Logical Operators

In [10]:
True and False

False

In [11]:
True or False

True

# Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [12]:
lst_example = []

In [13]:
type(lst_example)

list

In [31]:
lst = ["Mritunjay", 1, 2, 3, '\n']

In [15]:
print(lst)

['Mritunjay', 1, 2, 3, '\n']

In [16]:
len(lst)

5

### Append

In [32]:
# appending at the end of the list
lst.append("Kumar")

In [29]:
# it will create a nested lsit
lst.append(["sakshi", "kumari"])

In [33]:
print(lst)

['Mritunjay', 1, 2, 3, '\n', 'Kumar']

### insert
- (index, value)

In [34]:
lst.insert(1, "Thakur")

In [35]:
lst

['Mritunjay', 'Thakur', 1, 2, 3, '\n', 'Kumar']

### Indexing in list

In [19]:
lst[2]

2

In [20]:
lst[-1]

'Kumar'

In [21]:
i = 0
while lst[i] != lst[-1]:
    print(lst[i])
    i = i+1

Mritunjay
1
2
3

### Slicing
- start:end:steps
- by default start = 0, end = len(lst), steps = 1

In [26]:
lst[1:len(lst)]

[1, 2, 3, '\n', 'Kumar']

In [27]:
lst[1:len(lst):2]

[1, 3, 'Kumar']

### Extend Method

In [36]:
lst = [1,2,3,4,5]

In [38]:
lst.extend([8, 9])

In [39]:
lst

[1, 2, 3, 4, 5, 8, 9]

<b>Various opeartion can be performed on list</b>

In [40]:
lst = [1,2,3,4,5,6,7,8]

In [41]:
sum(lst)

36

pop() method

In [42]:
lst.pop()

8

In [45]:
lst

[1, 3, 4, 5, 6, 7]

In [44]:
lst.pop(1)

2

<b>count() : calculates total occurance of given element of list</b>

In [46]:
lst = [1,2,2,3,4,5,6,7,4]
lst.count(2)

2

In [47]:
len(lst)

9

In [50]:
# index(value, start, stop) : returns first occurance of that element
lst.index(4, 5)

8

In [51]:
min(lst)

1

In [55]:
max(lst)

7

In [57]:
lst = [1,2,3,4]
lst*2

[1, 2, 3, 4, 1, 2, 3, 4]

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table